#navbarNav{
    margin-left: 785px;
}

.navbar-brand{
    margin-left: 107px;
}

.blockquote{
    margin: 111px 10px 111px 419px;
    font-family: 'Oswald', sans-serif;
}

.mb-0{
    font-size: 25px;
    color:#01DF01


}
.second{
    font-size: 25px;
    color:black;

}

.text-light {
    text-align: center;
    font-size: 23px;
}

.blockquote-footer {
    display: block;
    font-size: 106%;
    color: #6c757d;
    margin-left: 552px;
}

.bg-dark {
    background-color: #343a40!important;
    
}

.text-about{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    margin: 41px 33px 40px -120px;
}
.img-fluid {
    max-width: 130%;
    height: auto;
    padding: 10px;
    margin: 18px 21px;

}

.imag{
    margin-left: 60px;
    width: 90px;
}

.col{
    margin: 10px 74px 20px;
}



.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}
.box{
    width: 102%;
    margin: 20px -10px;
}

.imagem{
    width: 354px;
    height: 269px;

}



span.error{
    font-size: 15px;
    font-weight: bold;
    color: red;

}
input.error{
    border-color: red;
}

.content{
    width: 97%;
    margin-left: -12px;
}

.form-space{
    width: 55%;
    margin: 60px 276px 60px;
}


.btn-primary{
    display: flex;
    align-items: center;
}

.rodape{
    background-color: black;
    padding: 20px;
}
.rodape-p{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 15px;
}