#navbarNav{
    margin-left: 785px;
}

.navbar-brand{
    margin-left: 107px;
}

.blockquote{
    margin: 161px 210px 0px 419px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.mb-0{
    font-size: 25px;
    color:#01DF01


}
.second{
    font-size: 25px;
    color:black;

}
